:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;

    li a {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;

    .side-bar {
        width: 250px;
        box-shadow: 0 0 10px #ddd;

        h3::before {
            position: absolute;
            content: "";
            background-color: black;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -15px;
        }

        h3::after {
            content: "";
            position: absolute;
            background-color: black;
            width: 30px;
            height: 30px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            border: solid white 4px;
            top: 32px;

        }

        li.active,
        li:hover {
            background-color: #f1f5f9;
            transition: .4s;
            cursor: pointer;
        }
    }

    .header {
        input {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-left: 5px;
            padding: 0 0 0 30px;
            width: 160px;
            transition: 0.3s;
            line-height: 2;

            &:focus {
                width: 200px;
            }
        }

        .input i {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            margin-left: 10px;
            color: #ccc;
        }

        .info {
            img {
                width: 34px;
            }
        }
    }

    .content {
        .special-heading {
            font-weight: bold;

            // margin-left: 20px;
            &::before,
            &::after {
                position: absolute;
                content: '';
                bottom: -20px;
                height: 3px;
                left: 0;
            }

            &::before {
                background-color: white;
                width: 120px;
            }

            &::after {
                background-color: black;
                width: 40px;
            }
        }

        .welcome .image {
            width: 60px;
            top: 165px;
            border: 2px solid white;
            border-radius: 50%;
            padding: 2px;
            box-shadow: 0 0 5px #ddd;
            margin-left: 20px;
            margin-top: -32px;
        }

        .welcome .body {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

        .yearly {
            .prog {
                height: 5px;

                & span span {
                    position: absolute;
                    bottom: 16px;
                    right: -16px;
                    color: white;
                    padding: 2px 5px;
                    border-radius: 6px;
                    font-size: 13px;
                    background-color: var(--blue-color);

                    &.blue::before,
                    &.orange::before,
                    &.green::before {
                        position: absolute;
                        content: "";
                        border-width: 5px;
                        border-style: solid;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &.blue::before {
                        border-color: var(--blue-color) transparent transparent transparent;
                    }

                    &.orange::before {
                        border-color: var(--orange-color) transparent transparent transparent;
                    }

                    &.green::before {
                        border-color: var(--green-color) transparent transparent transparent;
                    }
                }
            }
        }

        .lastProject {
            p {

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    background-color: var(--blue-color);
                }

                &::before {
                    left: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    outline: var(--blue-color) solid;
                    padding: 10px;
                    border: solid white;
                    transition: .4s;
                }

                &:not(:last-child):after {
                    width: 2px;
                    height: 40px;
                    left: 15px;
                    top: 30px;
                }
            }
        }

        .social {
            .box {
                i {
                    left: 0;
                    padding: 10px;
                    transition: .4s;

                    &:hover {
                        transform: rotate(12deg);
                    }
                }
            }
        }

        .projects .responsive-table {
            overflow-x: auto;
        }

        .projects table {
            min-width: 1000px;
            border-spacing: 0;
        }

        .projects thead td {
            background-color: #eee;
            font-weight: bold;
        }

        .projects table td {
            padding: 15px;
        }

        .projects tbody td {
            border-bottom: 1px solid #eee;
            border-left: 1px solid #eee;
            transition: 0.3s;
        }

        .projects table tbody tr td:last-child {
            border-right: 1px solid #eee;
        }

        .projects tbody tr:hover td {
            background-color: #faf7f7;
        }

        .projects table img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 2px;
            background-color: white;
        }

        .projects table img:not(:first-child) {
            margin-left: -20px;
        }

        .projects table .label {
            font-size: 13px;
        }

        // start the setting page
    }
}

.toogle {
    .toogle-check {
        appearance: none;
        display: none;

    }

    .toogle-check:checked+ {
        .toogle-container {
            background-color: var(--blue-color);
        }

        .toogle-container::before {
            content: "\f00c";
            left: 90px;
            color: var(--blue-color);
        }
    }

    .toogle-container {
        background-color: var(--bs-border-color);
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        height: 34px;
        width: 120px;
        transition: .4s;

        &::before {
            content: "\f00d";
            position: absolute;
            transition: .4s;
            font-weight: 900;
            background-color: white;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 5px;
            left: 5px;
            font-family: var(--fa-style-family-classic);
        }

    }
}

.check-box {
    input {
        appearance: none;
        display: none;

        &:checked+ {
            .checkbox-container {
                &::before {
                    content: "\f00c";
                    font-family: var(--fa-style-family-classic);
                    font-weight: 900;
                    background-color: var(--blue-color);
                    color: white;
                    transform: scale(1) rotate(0);
                }
            }
        }
    }


    .checkbox-container {
        padding-left: 25px;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            border: solid 2px var(--grey-color);
            border-radius: 5px;
            left: 0;
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            content: "";
            position: absolute;
            left: 1px;
            top: 11%;
            transition: 0.4s;
            width: 18px;
            height: 18px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            transform: scale(0) rotate(360deg);
        }
    }
}

/* Start Profile Page */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

.profile-page .avatar-box {
    width: 300px;
}

@media (min-width: 768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}

.profile-page .avatar-box>img {
    width: 120px;
    height: 120px;
}

.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}

.profile-page .avatar-box .level span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}

.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}

.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}

.profile-page .info-box .box>div {
    min-width: 250px;
    padding: 10px 0 0;
}

.profile-page .info-box h4 {
    font-weight: normal;
}

/* Start Training Code */
.profile-page .info-box .toggle-switch {
    height: 20px;
}

@media (max-width: 767px) {
    .profile-page .info-box .toggle-switch {
        margin: auto;
    }
}

.profile-page .info-box .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}

.profile-page .info-box .toggle-checkbox:checked+.toggle-switch::before {
    left: 62px;
}

/* End Training Code */
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}

.profile-page .skills-card {
    flex-grow: 1;
}

.profile-page .skills-card ul li {
    padding: 15px 0;
}

.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.profile-page .skills-card ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}

.profile-page .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}

.profile-page .activities {
    flex-grow: 2;
}

.profile-page .activity:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-page .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }
}

@media (max-width: 767px) {
    .profile-page .activity {
        flex-direction: column;
    }

    .profile-page .activity img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .profile-page .activity .date {
        margin-top: 15px;
    }
}

.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}

@media (max-width: 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}

.files-page .files-stats {
    min-width: 260px;
}

.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.files-page .files-stats .size {
    margin-left: auto;
}

.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}

.files-page .files-stats .green {
    background-color: rgb(34 197 94 / 20%);
}

.files-page .files-stats .red {
    background-color: rgb(244 67 54 / 20%);
}

.files-page .files-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}

.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    transition: 0.3s;
}

.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}

.files-page .files-stats .upload:hover i {
    animation: go-up 0.8s infinite;
}

.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.files-page .files-content img {
    width: 64px;
    height: 64px;
    transition: 0.3s;
}

.files-page .files-content .file:hover img {
    transform: rotate(5deg);
}

.files-page .files-content .info {
    border-top: 1px solid #eee;
}

/* End Files Page */