:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;

    li a {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;

    .side-bar {
        width: 250px;
        box-shadow: 0 0 10px #ddd;
        transition: .4s;
        left: -250px;
        position: fixed;
        top: 0;
        z-index: 9;
        min-height: 100vh;
        &.open {
            left: 0;
        }
        .spin {
            right: -36px;
            top: 70px;
            background-color: white;
            padding: 10px;
            cursor: pointer;
            position: absolute;
        }

        h3::before {
            position: absolute;
            content: "";
            background-color: black;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -15px;
        }

        h3::after {
            content: "";
            position: absolute;
            background-color: black;
            width: 30px;
            height: 30px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            border: solid white 4px;
            top: 32px;

        }

        li.active,
        li:hover {
            background-color: #f1f5f9;
            transition: .4s;
            cursor: pointer;
        }
    }

    .header {
        input {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-left: 5px;
            padding: 0 0 0 30px;
            width: 160px;
            transition: 0.3s;
            line-height: 2;

            &:focus {
                width: 200px;
            }
        }

        .input i {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            margin-left: 10px;
            color: #ccc;
        }

        .info {
            img {
                width: 34px;
            }
        }
    }

    .content {
        .special-heading {
            font-weight: bold;

            // margin-left: 20px;
            &::before,
            &::after {
                position: absolute;
                content: '';
                bottom: -20px;
                height: 3px;
                left: 0;
            }

            &::before {
                background-color: white;
                width: 120px;
            }

            &::after {
                background-color: black;
                width: 40px;
            }
        }

        .welcome .image {
            width: 60px;
            top: 165px;
            border: 2px solid white;
            border-radius: 50%;
            padding: 2px;
            box-shadow: 0 0 5px #ddd;
            margin-left: 20px;
            margin-top: -32px;
        }

        .welcome .body {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

        .yearly {
            .prog {
                height: 5px;

                & span span {
                    position: absolute;
                    bottom: 16px;
                    right: -16px;
                    color: white;
                    padding: 2px 5px;
                    border-radius: 6px;
                    font-size: 13px;
                    background-color: var(--blue-color);

                    &.blue::before,
                    &.orange::before,
                    &.green::before {
                        position: absolute;
                        content: "";
                        border-width: 5px;
                        border-style: solid;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &.blue::before {
                        border-color: var(--blue-color) transparent transparent transparent;
                    }

                    &.orange::before {
                        border-color: var(--orange-color) transparent transparent transparent;
                    }

                    &.green::before {
                        border-color: var(--green-color) transparent transparent transparent;
                    }
                }
            }
        }

        .lastProject {
            p {

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    background-color: var(--blue-color);
                }

                &::before {
                    left: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    outline: var(--blue-color) solid;
                    padding: 10px;
                    border: solid white;
                    transition: .4s;
                }

                &:not(:last-child):after {
                    width: 2px;
                    height: 40px;
                    left: 15px;
                    top: 30px;
                }
            }
        }

        .social {
            .box {
                i {
                    left: 0;
                    padding: 10px;
                    transition: .4s;

                    &:hover {
                        transform: rotate(12deg);
                    }
                }
            }
        }

        .projects .responsive-table {
            overflow-x: auto;
        }

        .projects table {
            min-width: 1000px;
            border-spacing: 0;
        }

        .projects thead td {
            background-color: #eee;
            font-weight: bold;
        }

        .projects table td {
            padding: 15px;
        }

        .projects tbody td {
            border-bottom: 1px solid #eee;
            border-left: 1px solid #eee;
            transition: 0.3s;
        }

        .projects table tbody tr td:last-child {
            border-right: 1px solid #eee;
        }

        .projects tbody tr:hover td {
            background-color: #faf7f7;
        }

        .projects table img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 2px;
            background-color: white;
        }

        .projects table img:not(:first-child) {
            margin-left: -20px;
        }

        .projects table .label {
            font-size: 13px;
        }
    }
}
